<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Recommendation System</title>
  </head>
  <body>
    <h1>Movie Recommendation System</h1>

    <form action="/recommend" method="post">
      <label for="selected_movie">Select a Movie:</label>
      <select id="selected_movie" name="selected_movie">
        {% for movie in movies['title'] %}
        <option value="{{ movie }}">{{ movie }}</option>
        {% endfor %}
      </select>

      <button type="submit">Recommend</button>
    </form>

    <h2>Recommended Movies</h2>
    {% for i in range(5) %} {% if names %}
    <div>
      <p>{{ names[i] }}</p>
      <img src="{{ posters[i] }}" alt="Movie Poster" />
    </div>
    {% else %}
    <p>No recommendations available.</p>
    {% endif %} {% endfor %}
  </body>
</html>